# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
!/pages/api/members/index.ts
!/pages/api/users/index.ts
!/pages/api/roles/index.ts
!/pages/api/availableSponsorships/index.ts
!/pages/api/sponsorships/index.ts
!/pages/api/contact/index.ts
!/consts/index.ts
!/components/sponsor/index.ts
!/utils/hooks/index.ts
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# history
.history

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.local.backup
.env.prod
.env.stg

# vercel
.vercel

.package-lock.json
