body {
  font-size: 50px;
}
.box-shadow {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.full-width {
  width: 100%;
}
.center {
  text-align: center;
}
@media (prefers-color-scheme: dark) {
  .__next-auth-theme-auto {
    --color-background: #486e62;
  }
}
:root {
  --color-background: brown;
  --table-odd: #fafafa;
  --table-even: #f1f1f1;
}
.__next-auth-theme-dark {
  --color-background: blue;
}
.compressed {
  padding: 0 !important;
  margin: 0 !important;
}
