.box-shadow {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.index-map {
  border-radius: 8px;
}
.full-width {
  width: 100%;
}
.center {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.hide {
  display: none;
}

.marker {
  margin-top: -12px;
}

.MuiTab-root,
input.MuiOutlinedInput-input,
.MuiInputBase-multiline {
  background-color: white;
}

.section-background {
  background-color: #fcfcfc !important;
}

.sponsorship-section {
  margin-bottom: 50px;
}

@media (prefers-color-scheme: dark) {
  .__next-auth-theme-auto {
    --color-background: #486e62;
  }
}
.MuiStepIcon-root.Mui-active circle {
  color: #6e4854;
}

:root {
  --color-background: brown;
  --icon-button-color: rgba(0, 0, 0, 0.54);
  --table-odd: #fafafa;
  --table-even: #f1f1f1;
  --outline-color: rgba(0, 0, 0, 0.23);
  --label-color: rgba(0, 0, 0, 0.6);
}
.__next-auth-theme-dark {
  --color-background: blue;
}
.compressed {
  padding: 0 !important;
  margin: 0 !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation-name: spin;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.index.detail-section {
  background-color: #486e62;
  color: white;
  padding-bottom: 100px;
  margin-top: 130px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.index .detail-image {
  max-height: 175px;
  max-width: 175px;
  border-radius: 20px;
  box-shadow: 0 5px 5px 0 rgb(66 66 66 / 8%), 0 3px 3px 3px rgb(66 66 66 / 16%);
}

.icon-container svg {
  width: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.wide-container {
  background-color: #486e62;
  color: white;
  padding: 30px 0px;
  margin-top: -5px;
}
.index .step-number {
  padding-top: 3px;
  padding-left: 1px;
  font-weight: 600;
  font-size: 30px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  background-color: #71998c;
  text-align: center;
  margin-top: 20px;
}
.index .step-text {
  padding: 30px;
  text-align: center;
}

.index .detail-title {
  font-weight: 400;
  font-size: 20px;
  padding: 20px 0 5px 0;
  text-transform: uppercase;
}

.index .detail-content {
  text-align: left;
}
@media only screen and (max-width: 500px) {
  .hidden-mobile {
    display: none;
  }
  .account-tabs button {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 600px) {
  div.headline-section {
    height: auto !important;
    margin-bottom: 80px !important;
  }
  .index.detail-section {
    margin-top: 80px;
  }
}

.same-height .MuiCard-root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.same-height.start .MuiCard-root {
  justify-content: flex-start;
}

/*
@keyframes bounce {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -15px;
  }
}
.mapboxgl-marker {
  
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
*/

.mapboxgl-ctrl-geocoder {
  width: 600px;
  max-width: 58vw;
  font-size: 11px;
  min-width: 100px;
}

@media screen and (min-width: 640px) {
  .mapboxgl-ctrl-geocoder {
    width: 50%;
    font-size: 15px;
    line-height: 20px;
    min-width: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .mapboxgl-ctrl-geocoder {
    width: 50%;
    font-size: 15px;
    line-height: 20px;
  }
}

.notchedOutline {
  text-align: left;
  position: absolute;
  bottom: 0;
  right: 0;
  top: -5px;
  left: 0;
  margin: 0;
  padding: 0 8px;
  pointer-events: none;
  border-radius: inherit;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  min-width: 0%;
  border-color: rgba(0, 0, 0, 0.23);
}

.notchedOutline > legend {
  display: block;
  width: auto;
  padding: 0;
  height: 11px;
  font-size: 0.75em;
  visibility: hidden;
  max-width: 100%;
  -webkit-transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 50ms;
  transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 50ms;
}
.notchedOutline > legend > span {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}
